<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	layout:decorator="layout/layout">
<head>
<meta charset="utf-8" th:remove="all" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all" />
<meta name="viewport" content="width=device-width, initial-scale=1"
	th:remove="all" />
<meta name="description" content="Trade Application" th:remove="all" />
<meta name="author" content="akmans" th:remove="all" />

<title>専用支出登録フォーム</title>

<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:remove="all" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" th:remove="all" />
<script src="../../../resources/js/jquery.js" th:remove="all"></script>
<script src="../../../resources/js/bootstrap.min.js" th:remove="all"></script>
<script src="../../../resources/js/core.js" th:remove="all"></script>
</head>
<body>
	<div th:fragment="form" th:remove="tag">
		<div class="modal-header"
			th:switch="${specialDetailEntryForm.operationMode}">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h4 th:case="${T(com.akmans.trade.core.enums.OperationMode).NEW}"
				th:text="#{view.specialdetail.entry-form.new.title }">New</h4>
			<h4 th:case="${T(com.akmans.trade.core.enums.OperationMode).EDIT}"
				th:text="#{view.specialdetail.entry-form.update.title }">Update</h4>
			<h4 th:case="${T(com.akmans.trade.core.enums.OperationMode).DELETE}"
				th:text="#{view.specialdetail.entry-form.delete.title }">Delete</h4>
		</div>
		<div class="modal-body">
			<form id="entry-form" action="REPLACED_BY_SCRIPT" method="post"
				th:object="${specialDetailEntryForm}"
				th:action="@{/specialdetails/post}"
				class="form-horizontal form-dialog">
				<div th:if="${#fields.hasErrors('*')}"
					th:class="${'alert ' + #strings.defaultString(cssStyle, '')}">
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
					</ul>
				</div>
				<div id="form-messages">
					<div th:unless="${#strings.isEmpty(message)}"
						th:class="${'alert ' + #strings.defaultString(cssStyle, '')}"
						th:text="${message}">Form Messages</div>
				</div>
				<div class="form-group"
					th:attrappend="class=${#fields.hasErrors('code')}? ' has-error' ">
					<div class="col-md-3 control-label"
						th:text="#{view.specialdetail.entry-form.code}">コード</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode == T(com.akmans.trade.core.enums.OperationMode).NEW}">
						***AUTO***GENERATED***</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode != T(com.akmans.trade.core.enums.OperationMode).NEW}"
						th:text="*{code}">123</div>
				</div>
				<div class="form-group"
					th:attrappend="class=${#fields.hasErrors('itemCode')}? ' has-error' ">
					<div class="col-md-3 control-label"
						th:text="#{view.specialdetail.entry-form.itemcode}">支出項目</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode == T(com.akmans.trade.core.enums.OperationMode).DELETE}">
						<span th:text="*{itemName}">Name</span> <input type="hidden"
							id="itemCode" name="itemCode" value="" th:value="*{itemCode}" />
					</div>
					<div class="col-md-9"
						th:if="*{operationMode != T(com.akmans.trade.core.enums.OperationMode).DELETE}">
						<select th:field="*{itemCode}" class="form-control">
							<option value=""></option>
							<option th:each="specialItem : ${itemList}"
								th:value="${specialItem.code}" th:text="${specialItem.name}">Credit
								card</option>
							<option value="1" th:remove="all">Another payment method</option>
							<option value="2" th:remove="all">Another payment method</option>
						</select>
					</div>
				</div>
				<div class="form-group"
					th:attrappend="class=${#fields.hasErrors('name')}? ' has-error' ">
					<div class="col-md-3 control-label"
						th:text="#{view.specialdetail.entry-form.name}">名称</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode == T(com.akmans.trade.core.enums.OperationMode).DELETE}"
						th:text="*{name}">Name</div>
					<div class="col-md-9"
						th:if="*{operationMode != T(com.akmans.trade.core.enums.OperationMode).DELETE}">
						<input type="text" id="name" name="name" value=""
							class="form-control" th:field="*{name}" placeholder="Name"
							th:attr="placeHolder=#{view.specialdetail.entry-form.name}" />
					</div>
				</div>
				<div class="form-group"
					th:attrappend="class=${#fields.hasErrors('amount')}? ' has-error' ">
					<div class="col-md-3 control-label"
						th:text="#{view.specialdetail.entry-form.amount}">数量</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode == T(com.akmans.trade.core.enums.OperationMode).DELETE}"
						th:text="*{amount}">12345</div>
					<div class="col-md-9"
						th:if="*{operationMode != T(com.akmans.trade.core.enums.OperationMode).DELETE}">
						<input type="text" id="amount" name="amount" value=""
							class="form-control" th:field="*{amount}" placeholder="Amount"
							th:attr="placeHolder=#{view.specialdetail.entry-form.amount}" />
					</div>
				</div>
				<div class="form-group"
					th:attrappend="class=${#fields.hasErrors('detail')}? ' has-error' ">
					<div class="col-md-3 control-label"
						th:text="#{view.specialdetail.entry-form.detail}">詳細</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode == T(com.akmans.trade.core.enums.OperationMode).DELETE}"
						th:text="*{detail}">詳細内容</div>
					<div class="col-md-9"
						th:if="*{operationMode != T(com.akmans.trade.core.enums.OperationMode).DELETE}">
						<textarea id="detail" name="detail" class="form-control"
							th:field="*{detail}" placeholder="Detail"
							th:attr="placeHolder=#{view.specialdetail.entry-form.detail}">abcdef</textarea>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a id="confirm" class="btn btn-primary"
				th:text="#{view.specialdetail.entry-form.confirm}">Save changes</a>
			<a id="cancel" class="btn btn-default" data-dismiss="modal"
				th:text="#{view.specialdetail.entry-form.cancel}">Close</a>
		</div>
	</div>
</body>
</html>