<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	layout:decorator="layout/layout">
<head>
<meta charset="utf-8" th:remove="all" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all" />
<meta name="viewport" content="width=device-width, initial-scale=1"
	th:remove="all" />
<meta name="description" content="Trade Application" th:remove="all" />
<meta name="author" content="akmans" th:remove="all" />

<title th:text="#{view.japanstocklog.list.title}">バッチ処理結果一覧</title>

<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:remove="all" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" th:remove="all" />
<script src="../../../resources/js/jquery.js" th:remove="all"></script>
<script src="../../../resources/js/bootstrap.min.js" th:remove="all"></script>
<script src="../../../resources/js/core.js" th:remove="all"></script>
</head>
<body>
	<!--/* Content of this page will be decorated by the elements of layout.html (layout) */-->
	<div layout:fragment="content" th:fragment="content" th:remove="tag">
		<div id="messages"
			th:class="${'alert ' + #strings.defaultString(cssStyle, '')}"
			th:unless="${#strings.isEmpty(message)}">
			<div th:text="${message}">メッセージはここに表示されます。</div>
		</div>
		<div id="search-area" th:include="japanstocklog/query-form :: form">Search
			Area</div>
		<div id="result-area">
			<div th:fragment="result-area" th:remove="tag">
				<h3 th:text="#{view.japanstocklog.list.title}">バッチ処理結果一覧</h3>
				<div id="pagination-top"
					th:include="layout/pagination :: pagination">Pagination</div>
				<div class="clearfix"></div>
				<div class="row header">
					<div class="col-xs-12 col-md-6"
						th:text="#{view.japanstocklog.list.jobid}">バッチID</div>
					<!-- Add the extra clearfix for only the required viewport -->
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-4 col-md-3"
						th:text="#{view.japanstocklog.list.processdate}">処理日</div>
					<div class="col-xs-4 col-md-2"
						th:text="#{view.japanstocklog.list.result}">処理結果</div>
					<div class="col-xs-4 col-md-1 text-right">
						<a id="add" href="#" th:href="@{/japanstocklogs/new}"
							th:text="#{view.japanstocklog.list.button.new}"
							class="btn btn-default">新規</a>
					</div>
				</div>
				<div class="row" th:each="item : ${page.content}">
					<div class="col-xs-12 col-md-6"
						th:text="*{T(com.akmans.trade.core.enums.JapanStockJob).get(item.japanStockLogKey.jobId).label}">Job 001</div>
					<!-- Add the extra clearfix for only the required viewport -->
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-6 col-md-3"
						th:text="*{#calendars.format(item.japanStockLogKey.processDate, 'yyyy-MM-dd')}">2016-01-02</div>
					<div class="col-xs-6 col-md-3"
						th:text="*{item.status}">tester</div>
				</div>
				<div class="row" th:remove="all">
					<div class="col-xs-12 col-md-6">Job 002</div>
					<!-- Add the extra clearfix for only the required viewport -->
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-6 col-md-3">2016-01-01</div>
					<div class="col-xs-6 col-md-3">Completed</div>
				</div>
				<div class="modal fade" id="dialogModal" tabindex="-1" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content" id="dialog-entry-form"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>