<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<!-- file>/Users/owner99/log/trade-console.log</file -->
		<file>${logback.file}</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.akmans.trade" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger
		name="org.springframework.aop.interceptor.CustomizableTraceInterceptor"
		level="info" additivity="false">
		<!-- appender-ref ref="STDOUT" /-->
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.zaxxer.hikari" level="info" additivity="false">
		<!-- appender-ref ref="STDOUT" /-->
		<appender-ref ref="FILE" />
	</logger>

	<root level="error">
		<!-- appender-ref ref="STDOUT" /-->
		<appender-ref ref="FILE" />
	</root>
</configuration>
