body {
	background-color: #ffffff;
}

.container .header {
	background-color: #e8e8e8;
}

.container .row {
	border-bottom: 1px solid #e8e8e8;
	padding: 5px 0px;
	line-height: 3.0em;
	margin: 0px 0px;
}

.form-dialog {
	width: 98%;
}

/* footer */
footer {
	clear: both;
	margin: 10px 0px;
	padding: 10px 0px;
	border-top: 1px solid #eaeaea;
}

footer small {
	float: left;
}