<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	layout:decorator="layout/layout">
<head>
<meta charset="utf-8" th:remove="all" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all" />
<meta name="viewport" content="width=device-width, initial-scale=1"
	th:remove="all" />
<meta name="description" content="Trade Application" th:remove="all" />
<meta name="author" content="akmans" th:remove="all" />

<title>カレンダー登録フォーム</title>

<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:remove="all" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" th:remove="all" />
<script src="../../../resources/js/jquery.js" th:remove="all"></script>
<script src="../../../resources/js/bootstrap.min.js" th:remove="all"></script>
<script src="../../../resources/js/core.js" th:remove="all"></script>
</head>
<body>
	<div th:fragment="form" th:remove="tag">
		<form id="entry-form" action="REPLACED_BY_SCRIPT" method="post"
			th:object="${calendarEntryForm}" th:action="@{/calendars/post}"
			class="form-horizontal form-dialog">
			<div class="modal-header"
				th:switch="${calendarEntryForm.operationMode}">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 th:case="${T(com.akmans.trade.core.enums.OperationMode).NEW}"
					th:text="#{view.calendar.entry-form.new.title }">New</h4>
				<h4 th:case="${T(com.akmans.trade.core.enums.OperationMode).EDIT}"
					th:text="#{view.calendar.entry-form.update.title }">Update</h4>
				<h4 th:case="${T(com.akmans.trade.core.enums.OperationMode).DELETE}"
					th:text="#{view.calendar.entry-form.delete.title }">Delete</h4>
			</div>
			<div class="modal-body">
				<div th:if="${#fields.hasErrors('*')}"
					th:class="${'alert ' + #strings.defaultString(cssStyle, '')}">
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
					</ul>
				</div>
				<div id="form-messages">
					<div th:unless="${#strings.isEmpty(message)}"
						th:class="${'alert ' + #strings.defaultString(cssStyle, '')}"
						th:text="${message}">Form Messages</div>
				</div>
				<div class="form-group"
					th:attrappend="class=${#fields.hasErrors('registAt')}? ' has-error' ">
					<div class="col-md-3 control-label"
						th:text="#{view.calendar.entry-form.registat}">日付</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode == T(com.akmans.trade.core.enums.OperationMode).DELETE or operationStatus == T(com.akmans.trade.core.enums.OperationStatus).COMPLETE}"
						th:text="*{disRegistAt}">2016-05-01</div>
					<div class="col-md-9"
						th:if="*{operationMode != T(com.akmans.trade.core.enums.OperationMode).DELETE and operationStatus != T(com.akmans.trade.core.enums.OperationStatus).COMPLETE}">
						<input type='text' id="registAt" name="registAt"
							class="form-control" th:value="*{disRegistAt}" />
						<script type="text/javascript">
							$(function() {
								$('#registAt').datetimepicker({
									format : 'YYYY-MM-DD'
								});
							});
						</script>
					</div>
				</div>
				<div class="form-group"
					th:attrappend="class=${#fields.hasErrors('calendar')}? ' has-error' ">
					<div class="col-md-3 control-label"
						th:text="#{view.calendar.entry-form.calendar}">カレンダー</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode == T(com.akmans.trade.core.enums.OperationMode).DELETE or operationStatus == T(com.akmans.trade.core.enums.OperationStatus).COMPLETE}">
						<span th:text="*{calendarLabel}">Name</span> <input type="hidden"
							id="calendar" name="calendar" value="" th:value="*{calendar}" />
					</div>
					<div class="col-md-9"
						th:if="*{operationMode != T(com.akmans.trade.core.enums.OperationMode).DELETE and operationStatus != T(com.akmans.trade.core.enums.OperationStatus).COMPLETE}">
						<select th:field="*{calendar}" class="form-control">
							<option value=""></option>
							<option
								th:each="elem: ${T(com.akmans.trade.core.enums.Calendar).values()}"
								th:value="${elem.value}" th:text="${elem.label}">Credit
								card</option>
							<option value="1" th:remove="all">Another payment method</option>
							<option value="2" th:remove="all">Another payment method</option>
						</select>
					</div>
				</div>
				<div class="form-group"
					th:attrappend="class=${#fields.hasErrors('holiday')}? ' has-error' ">
					<div class="col-md-3 control-label"
						th:text="#{view.calendar.entry-form.holiday}">祝日</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode == T(com.akmans.trade.core.enums.OperationMode).DELETE or operationStatus == T(com.akmans.trade.core.enums.OperationStatus).COMPLETE}">
						<span th:text="*{holidayLabel}">Name</span> <input type="hidden"
							id="holiday" name="holiday" value="" th:value="*{holiday}" />
					</div>
					<div class="col-md-9"
						th:if="*{operationMode != T(com.akmans.trade.core.enums.OperationMode).DELETE and operationStatus != T(com.akmans.trade.core.enums.OperationStatus).COMPLETE}">
						<select th:field="*{holiday}" class="form-control">
							<option value=""></option>
							<option
								th:each="elem: ${T(com.akmans.trade.core.enums.JapanHoliday).values()}"
								th:value="${elem.value}" th:text="${elem.label}">Credit
								card</option>
							<option value="1" th:remove="all">Another payment method</option>
							<option value="2" th:remove="all">Another payment method</option>
						</select>
					</div>
				</div>
				<div class="form-group"
					th:attrappend="class=${#fields.hasErrors('description')}? ' has-error' ">
					<div class="col-md-3 control-label"
						th:text="#{view.calendar.entry-form.description}">詳細</div>
					<div class="col-md-9 form-control-static"
						th:if="*{operationMode == T(com.akmans.trade.core.enums.OperationMode).DELETE or operationStatus == T(com.akmans.trade.core.enums.OperationStatus).COMPLETE}"
						th:text="*{description}">詳細内容</div>
					<div class="col-md-9"
						th:if="*{operationMode != T(com.akmans.trade.core.enums.OperationMode).DELETE and operationStatus != T(com.akmans.trade.core.enums.OperationStatus).COMPLETE}">
						<textarea id="description" name="description" class="form-control"
							th:field="*{description}" placeholder="Detail"
							th:attr="placeHolder=#{view.calendar.entry-form.description}">abcdef</textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="confirm" class="btn btn-primary"
					th:if="*{operationStatus == T(com.akmans.trade.core.enums.OperationStatus).ENTRY}"
					th:text="#{view.calendar.entry-form.confirm}">Save changes</a> <a
					id="cancel" class="btn btn-default"
					th:if="*{operationStatus == T(com.akmans.trade.core.enums.OperationStatus).ENTRY}"
					data-dismiss="modal" th:text="#{view.calendar.entry-form.cancel}">Close</a>
				<a id="complete" class="btn btn-primary"
					th:if="*{operationStatus == T(com.akmans.trade.core.enums.OperationStatus).COMPLETE}"
					data-dismiss="modal" th:text="#{view.calendar.entry-form.complete}">Close</a>
			</div>
		</form>
	</div>
</body>
</html>