<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	layout:decorator="layout/layout">
<head>
<meta charset="utf-8" th:remove="all" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all" />
<meta name="viewport" content="width=device-width, initial-scale=1"
	th:remove="all" />
<meta name="description" content="Trade Application" th:remove="all" />
<meta name="author" content="akmans" th:remove="all" />

<title>銘柄検索フォーム</title>

<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:remove="all" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" th:remove="all" />
<script src="../../../resources/js/jquery.js" th:remove="all"></script>
<script src="../../../resources/js/bootstrap.min.js" th:remove="all"></script>
<script src="../../../resources/js/core.js" th:remove="all"></script>
</head>
<body>
	<div th:fragment="form" th:remove="tag">
		<h3 th:text="#{view.instrument.query-form.title}">銘柄検索</h3>
		<form id="query-form" action="REPLACED_BY_SCRIPT" method="post"
			th:object="${instrumentQueryForm}" th:action="@{/instruments}"
			class="form-horizontal" accept-charset="UTF-8">
			<div th:if="${#fields.hasErrors('*')}"
				th:class="${'alert ' + #strings.defaultString(cssStyle, '')}">
				<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
				</ul>
			</div>
			<div class="form-group bound">
				<div class="col-md-4 grid"
					th:attrappend="class=${#fields.hasErrors('code')}? ' has-error' ">
					<div class="col-md-4 text-left control-label header"
						th:text="#{view.instrument.query-form.code}">コード</div>
					<div class="col-md-8 normal">
						<input type="text" id="code" name="code" value=""
							class="form-control" th:field="*{code}" placeholder="Code"
							th:attr="placeHolder=#{view.instrument.query-form.code}" />
					</div>
				</div>
				<div class="col-md-4 grid"
					th:attrappend="class=${#fields.hasErrors('sector17')}? ' has-error' ">
					<div class="col-md-4 control-label header text-left"
						th:text="#{view.instrument.query-form.sector17}">17業種区分</div>
					<div class="col-md-8 normal">
						<select th:field="*{sector17}" class="form-control">
							<option value=""></option>
							<option
								th:each="elem: ${sector17s}"
								th:value="${elem.code}" th:text="${elem.name}">Credit
								card</option>
							<option value="1" th:remove="all">Another payment method</option>
							<option value="2" th:remove="all">Another payment method</option>
						</select>
					</div>
				</div>
				<div class="col-md-4 grid"
					th:attrappend="class=${#fields.hasErrors('sector33')}? ' has-error' ">
					<div class="col-md-4 control-label header text-left"
						th:text="#{view.instrument.query-form.sector33}">33業種区分</div>
					<div class="col-md-8 normal">
						<select th:field="*{sector33}" class="form-control">
							<option value=""></option>
							<option
								th:each="elem: ${sector33s}"
								th:value="${elem.code}" th:text="${elem.name}">Credit
								card</option>
							<option value="1" th:remove="all">Another payment method</option>
							<option value="2" th:remove="all">Another payment method</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group bound">
				<div class="col-md-4 grid"
					th:attrappend="class=${#fields.hasErrors('scale')}? ' has-error' ">
					<div class="col-md-4 text-left control-label header"
						th:text="#{view.instrument.query-form.scale}">規模</div>
					<div class="col-md-8 normal">
						<select th:field="*{scale}" class="form-control">
							<option value=""></option>
							<option
								th:each="elem: ${scales}"
								th:value="${elem.code}" th:text="${elem.name}">Credit
								card</option>
							<option value="1" th:remove="all">Another payment method</option>
							<option value="2" th:remove="all">Another payment method</option>
						</select>
					</div>
				</div>
				<div class="col-md-4 grid"
					th:attrappend="class=${#fields.hasErrors('market')}? ' has-error' ">
					<div class="col-md-4 control-label header text-left"
						th:text="#{view.instrument.query-form.market}">市場区分</div>
					<div class="col-md-8 normal">
						<select th:field="*{market}" class="form-control">
							<option value=""></option>
							<option
								th:each="elem: ${markets}"
								th:value="${elem.code}" th:text="${elem.name}">Credit
								card</option>
							<option value="1" th:remove="all">Another payment method</option>
							<option value="2" th:remove="all">Another payment method</option>
						</select>
					</div>
				</div>
				<div class="col-md-4 grid"
					th:attrappend="class=${#fields.hasErrors('onboard')}? ' has-error' ">
					<div class="col-md-4 control-label header text-left"
						th:text="#{view.instrument.query-form.onboard}">上場廃止</div>
					<div class="col-md-8 normal">
						<select th:field="*{onboard}" class="form-control">
							<option value=""></option>
							<option
								th:each="elem: ${T(com.akmans.trade.core.enums.Onboard).values()}"
								th:value="${elem.value}" th:text="${elem.label}">Credit
								card</option>
							<option value="1" th:remove="all">Another payment method</option>
							<option value="2" th:remove="all">Another payment method</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12 text-right">
					<input type="submit" id="confirm" class="btn btn-primary"
						th:value="#{view.instrument.query-form.search}" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>